@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --poppins: 'Poppins', sans-serif;
  --nunito: 'Nunito', sans-serif;
  --blue: #0072B1;
  --grey: #0000008c;
  --radius: 3px
}
input, button{
  outline: none;
  border: 1px solid transparent;
  display: block;
  background-color: #fff;
}
body{
  width: 100vw;
}
.App{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.App-logo {
  height: 8vmin;
  pointer-events: none;
}
.logoDiv{
  margin: 30px auto;
}